 /*@media only screen and (min-width:480px) and (max-width: 600px) { */
/* mobile view */
body{
  /* width: 480px; */
  margin: auto;
  align-content: center;
}

div {
  display: grid;
  justify-items: center;
  align-items: center;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 75px 150px 125px 125px 250px 250px 80px;
}

#a {
  grid-column: 1/3;
  grid-row: 1/2;
  background-image: linear-gradient(darkslateblue, midnightblue);
}

#b {
  grid-column: 1/3;
  grid-row: 2/3;
  background-image: linear-gradient(midnightblue,darkblue);
}

#c {
  grid-column: 1/3;
  grid-row: 3/4;
  background-image: linear-gradient(darkblue, blueviolet);
}

#d {
  grid-column: 1/3;
  grid-row: 4/5;
  background-image: linear-gradient(blueviolet, violet);
}

#e {
  grid-column: 1;
  grid-row: 5/6;
  background-image: linear-gradient(violet, skyblue );
}

#f {
  grid-column: 2;
  grid-row: 5/6;
  background-image: linear-gradient(violet, slateblue );

}

#g {
  grid-column: 1/2;
  grid-row: 6/7;
  background-image: linear-gradient(skyblue, aqua );
}

#h {
  grid-column: 2;
  grid-row: 6/7;
  background-image: linear-gradient( slateblue, rgb(95, 165, 165) );

}

#i {
  grid-column: 1/3;
  grid-row: 7/8;
  background-image: linear-gradient(to right, aqua , rgb(95, 165, 165));
}
/* laptop view */
@media only screen and (min-width:768px){
  body {
    width: 960px;
  }
  main {
    grid-template-columns: 20fr 19fr 19fr 19fr 19fr;
    grid-template-rows: 100px 200px 250px 150px;
    display: grid;
  }
  div {
    justify-content: center;
    align-items: center;
  }
  
  #a {
    grid-column:1/6;
    grid-row: 1/2;
    height:auto;
    width: auto;
    background-image: linear-gradient(to right, orange,yellow,green,blue,indigo,violet);
  ;

  }
  
  #b {
    grid-column:1/1;
    grid-row: 2/6;
    height:auto;
    width:auto;
    background-image: linear-gradient(to right,orange, yellow);
  }
  
  #c {
    grid-column: 2/4;
    grid-row: 2/3;
    height:auto;
    width: auto;
    background-image: linear-gradient(to right,yellow,green,blue);
  }
  
  #d {
    grid-column: 4/6;
    grid-row: 2/3;
    height:auto;
    width: auto;
    background-image: linear-gradient(to right, blue, indigo,violet);
  }
  
  #e {
    grid-column: 2/3;
    grid-row: 3/4;
    height:auto;
    width: auto;
    background-image: linear-gradient(to right,yellow,green);
  }
  
  #f {
    grid-column: 3/4;
    grid-row: 3/4;
    height:auto;
    width: auto;
    background-image: linear-gradient(to right,green,blue);
  }
  
  #g {
    grid-column: 4/5;
    grid-row: 3/4;
    height:auto;
    width: auto;
    background-image: linear-gradient(to right, blue, indigo);
  }
  
  #h {
    grid-column: 5/6;
    grid-row: 3/4;
    height:auto;
    width: auto;
    background-image: linear-gradient(to right,indigo,violet);
  }
  
  #i {
    grid-column: 2/6;
    grid-row: 4/5;
    height:auto;
    width: auto;
    background-image: linear-gradient(to right, yellow,green,blue,indigo,violet);
  }
/* tablet size */
@media only screen and (min-width:600px) and (max-width: 767px){
  #a{

    background-color: darklategray;
  }

  #b{
    background-color: darkgray;
  }

  #c{
    background-color: gray;
  }
  
  #d{
    background-color: lightgray;
  }

  #e{
    background-color: lightblue
  }

  #f{
    background-color: skyblue;
  }

  #g{
    background-color: blueviolet;
  }

  #h{
    background-color: darkblue;
  }

  #i{
    background-color: darkslateblue;
  }

  #j{
    background-color: midnightblue;
  }
  
}

  }

