body{
  /* width: 480px; */
  margin: auto;
  align-content: center;
}

div {
  display: grid;
  justify-items: center;
  align-items: center;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 75px 150px 125px 125px 250px 250px 80px;
}

